#Info {
  background-color: white;
  width: 280px;
  height: 285px;
  border-radius: 32px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.info-tabs {
  display: flex;
  flex-direction: column;
  margin: 10px 10%;
  justify-content: space-around;

  .info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    img {
      width: 100px;
      height: 60px;
      margin-left: -10px;
      transition: ease 0.3s;
    }

    h1 {
      font-size: 0.8em;
      transition: ease 0.3s;
    }
  }
}

.tab1 {
  h1 {
    margin-top: 20px;
  }
  img {
    rotate: 202deg;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.tab2 {
  display: flex;
  flex-direction: row-reverse;

  img {
    transform: scaleX(-1);
    rotate: 160deg;
  }
}

.tab3 {
  display: flex;
  flex-direction: row-reverse;

  img {
    margin-top: -9px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
