#Table {
  background-color: white;
  width: 25vw;
  height: 600px;
  border-radius: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }

  #table-text {
    padding-top: 2em;
    font-size: 1.1em;
    margin: 0 17%;
  }
}

.daily-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  gap: 0.5em;
  max-height: 490px;
  overflow-y: auto;

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    width: 80%;
    padding: 1.2em 1em;
    border-radius: 14px;
    color: white;
    gap: 10px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8em;

    p {
      width: fit-content;
    }
  }
}
